@import 'lms/static/sass/partials/base/variables';

// Theming overrides for sample theme
$header-bg: white;
$footer-bg: white;
//$container-bg: rgb(241,241,241);
//$content-wrapper-bg: rgb(241,241,241);
$container-bg: white;
$content-wrapper-bg: white;
$serif: 'Sans', 'Sans MS';
$sans-serif: 'Sans', 'Sans MS';
