## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('About')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('Netec Digital')}</a>
    <a href="#careers" class="careers">${_('Comunidad')}</a>
    <a href="#contact" class="contact">${_('Metodologia')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/book-books-circle-curly-education-2869/
        -->
        <img src="${static.url('images/about.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('Netec Digital te da la bienvenida')}</h2>

        <p>Su curso online, como siempre había soñado. A diferencia de la oferta actual de cursos eLearning, reunimos todos los elementos necesarios para asegurar su certificación y el mejor aprovechamiento de su tiempo a un bajo costo con un método innovador.</p>
        <p>Diseñamos programas de aprendizaje enfocados en los profesionales de TI en Hispanoamérica que buscan mejorar su desarrollo profesional con cursos oficiales y métodos de fácil acceso para estudiar a su ritmo.!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/man-corporate-businessman-suit-tie-871960/
        -->
        <img src="${static.url('images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('Nuestra comunidad')}</h2>

        <p>Netec es la empresa líder a nivel mundial de cursos en telecomunicaciones y habilidades de negocio gracias a nuestro método de aprendizaje, instructores expertos y la acreditación oficial de los fabricantes más importantes de tecnología. </p>
        <p>Lo que asegura el cumplimiento de todos los contenidos requeridos para la certificación.</p>
        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <!--
            Photo License: CC0 Public Domain (Free for commercial use / No attribution required)
            https://pixabay.com/en/network-cobweb-dewdrop-586177/
        -->
        <img src="${static.url('images/contact.jpg')}" alt="" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>${_('Nuestra metodologia')}</h2>

        <p>Combinamos los elementos y las técnicas que han demostrado ser los más efectivos para asegurar el aprendizaje: videos HD, guías complementarias, foros, laboratorios o prácticas, simuladores de examen y el acompañamiento de un tutor certificado.</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
