<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("FAQ")}</h1>
        <ul>
        	<li> 
        		<b>¿Por qué debería considerar participar?</b>
        		<p>Cloud Computing es actualmente una de las áreas más populares en tecnología y la necesidad de arquitectos y expertos en la nube sólo se espera que crezca. Para tener éxito en uno de estos nuevos puestos de trabajo, necesitará conocimiento del mundo real, así como experiencia práctica. El programa está específicamente diseñado y entregado por expertos para dar formación práctica en Azure.</p>
        	</li>
        	<li>
        		<b>Quiénes pueden participar en el programa?</b>
        		<p>Este programa está abierto para todos. Cualquier persona que tenga interés en aprender sobre Cloud Computing, desarrollo e implementación es bienvenida.</p>
        	</li>
        	<li>
        		<b>¿Los cursos se ofrecen en otros idiomas además del inglés?</b>
        		<p>No, sólo están disponibles en inglés</p>
        	</li>
        	<li>
        		<b>¿Los cursos sólo están disponibles en línea?</b>
        		<p>Sí, los cursos sólo están disponibles en línea.</p>
        	</li>
        	<li>
        		<b>¿Hay algún límite de duración para completar el curso?</b>
        		<p>Si, cada curso tiene fechas establecidas de finalización.</p>
        	</li>
        	<li>
        		<b>¿Cuál es el porcentaje mínimo requerido para aprobar el curso?</b>
        		<p>Su puntuación debe ser de 70% o más para obtener un grado de aprobación.</p>
        	</li>
        	<li>
        		<b>¿Cómo puedo seguir el progreso de mi curso?</b>
        		<p>Abra su curso y selecciona la sección de progreso</p>
        	</li>
        	<li>
        		<b>¿Cómo obtengo mi certificado de terminación del curso?</b>
        		<p>Una vez que hayas obtenido una puntuación aprobatoria, puedes seleccionar: solicitar certificado, en la sección de progreso de tu curso. Cuando ya lo tengas y desees verlo entra a la misma sección en el apartado de: ver certificado.</p>
        	</li>
        	<li>
        		<b>¿Cómo puedo compartir mi certificado con otros?</b>
        		<p>Todos los certificados tienen una URL única que se puede compartir digitalmente. Puedes guardar el certificado como un archivo PDF que se puede enviar a través de un correo electrónico. También se puede agregar esa URL a su perfil de LinkedIn con un enlace que aparece en el certificado, así como también se puede descargar el PDF si lo desea.</p>
        	</li>
        	<li>
        		<b>¿Cómo me registro?</b>
        		<p> A través de página <a href="https://openedx.Microsoft.com/Register">https://openedx.Microsoft.com/Register</a>. El proceso de registro para este programa es diferente de otros programas de Microsoft. Necesitas registrarte de nuevo aunque ya tengas una cuenta de Microsoft o de Office 365. Después de registrarse, recibirás un correo electrónico de activación. Debe hacer clic en el enlace de activación para completar el proceso. Si no vez el correo en tu bandeja de entrada, revisa tu carpeta de spam.
        		</p>
        	</li>
        	<li>
        		<b>¿Qué debo hacer si tengo problemas para ver un vídeo?</b>
        		<p>Si tiene problemas de visualización de un video, descargue el mismo dando click en el botón de descarga que se encuentra debajo del reproductor.</p>
        	</li>
        </ul>
    </section>
</main>