<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Honor Code")}</h1>
        <p>Agradecemos su participación y que sea parte de nuestra comunidad.</p>
        <p>A continuación le ofrecemos algunos consejos para hacer excelentes aportaciones y brindarle el servicio que merece:</p>
         <ul>
            <li >
            	<p>
            		<b>Sea objetivo:</b> Si algún elemento del curso u alguna opinión no le gustan, agradeceremos su retroalimentación de una forma constructiva. De este modo podremos usar sus comentarios para mejorar la plataforma.
            	 </p>
            </li>
            <li >
            	<p>
            		<b>Salude a la comunidad:</b> Al ser parte de nuestra comunidad, se integra a una red de gente con muchas cosas en común. Haga que todo el mundo se sienta cómodo con la información que encuentre, explore y comparte.            	
            	</p>
            </li>
            <li >
            	<p>
            		<b>Avísenos si encuentra errores:</b> El mundo cambia muy rápido pero con su ayuda podemos mantener nuestros contenidos actualizados en todo momento.
            	</p>
            </li>
            <li>
            	<p>
            		<b>Las imágenes valen más que mil palabras:</b> Añada a sus retroalimentaciones capturas de pantalla para hacer más evidente y rápido lo que debemos mejorar.
            	</p>
            </li>
            <li>
            	<p>
            		<b>Dedique el tiempo necesario:</b> Organice sus tiempos para iniciar su capacitación.  Le sugerimos dedicarle un mínimo de 4 horas semanales (menos de una hora diaria) a su curso para que no abandone su camino a la certificación.
            	</p>
            </li>
          </ul>
    </section>
</main>