<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
	<p>
		Centro Netec SPA, Global K SA de CV, Centro Netec SA de CV, Global Knowledge Colombia Limitada, Centro Netec Perú SAC y Netec<a href="https://www.netecdigital.com/privacyinfo#_msocom_1">[CB1]</a>  Digital. (En adelante todos ellos referidos como <b>“Netec”</b>), emite a favor del público en general el siguiente; Aviso de privacidad. Dicho aviso es emitido de conformidad con lo establecido por las leyes de protección de datos personales, su reglamento y demás disposiciones de la materia aplicables de cada uno de los países donde tenemos representación:
	<p>
	<ul>
		<li>
			Chile: <a href="https://docs.wixstatic.com/ugd/96edd2_d6f07c7e6d7144a8b6a4b020622b9d4c.pdf"> Ley 19628 </a>
		</li>
		<li>
			Colombia: <a href="https://docs.wixstatic.com/ugd/96edd2_b291274911ce4389a0b7d385c0f2622c.pdf"> Ley 1581 de 2012 </a>
		</li>
		<li>
			México: <a href="https://docs.wixstatic.com/ugd/96edd2_b31ce6d364d742f683bed8bca5501d1b.pdf">Ley General de Protección de Datos Personales en Posesión de los Particulares</a>
		</li>
		<li>
			Perú: <a href="https://docs.wixstatic.com/ugd/96edd2_c87d9a11e466424399e86a581f7ab736.pdf">Ley N 29733</a>
		</li>
	</ul>
	<p>
		Los datos tutelados por la Ley de Protección de Datos Personales de cada país y que son recabados por <b>“Netec”</b>, serán utilizados con la mayor responsabilidad por parte del mismo y protegidos bajo las políticas de privacidad de la empresa, sus colaboradores y trabajadores con el objeto de prestar adecuadamente los servicios para los cuales somos contratados, a su vez, también son utilizados en virtud de la relación laboral que existe con nuestros trabajadores, de acuerdo a la solicitud de información ya sea <a href="https://www.netecdigital.com/privacyinfo#_msocom_2">[CB2]</a> telefónica, por chat o por correo electrónico, y finalmente los datos que la compañía atiende derivan de obligaciones adquiridas ya sean contractuales y/o comerciales.
	</p>
	<p>
		Así mismo, se enumeran de forma enunciativa más no de forma limitativa los fines para los cuales recabamos sus datos:
	</p>
	<ul>
		<li>
			Proveer los servicios y productos requeridos por nuestros contratantes;
		</li>
		<li>
			Informar sobre cambios, nuevos productos o servicios que estén relacionados con contrato adquirido o relaciones comerciales;
		</li>
		<li>
			Dar cumplimiento a las obligaciones contraídas con nuestros clientes y proveedores;
		</li>
		<li>
			Informar sobre los cambios en la prestación de su servicio;
		</li>
		<li>
			Información corporativa;
		</li>
		<li>
			Realizar gestiones de cobro, pagos o compensaciones;
		</li>
		<li>
			<a href="https://www.netecdigital.com/privacyinfo#_msocom_3">[CB3]</a> Conocer anteriores empleos de posibles trabajadores;
		</li>
		<li>
			Evaluar la calidad del servicio.
		</li>
		<li>
			Para administrar nuestros sitios y servicios
		</li>
		<li>
			Para realizar estudios de mercado y de consumo a efecto de adquirir y ofrecer productos y servicios personalizados, así como publicidad y contenidos adecuados a sus necesidades.
		</li>
		<li>
			Con fines de comunicación, promoción, difusión (vía electrónica, física, correo electrónico, SMS, etc.) de productos y servicios.
		</li>
	</ul>
	<p>
		Se hace del conocimiento que <b>“Netec”</b>, única y exclusivamente podrá compartir información en los siguientes supuestos:
	</p>
	<ul>
		<li>
			Por regla general no compartimos información sin el consentimiento explícito del titular y no la difundimos, distribuimos, ni comercializamos.
		</li>
		<li>
			Para complementar un procedimiento solicitado por el titular.
		</li>
		<li>
			Con terceros, proveedores de productos y/o servicios, para atender las necesidades del titular con la calidad y oportunidad ofrecida.
		</li>
		<li>
			Para atender requerimientos de las autoridades o para proteger y defender los derechos de las empresas mencionadas anteriormente.
		</li>
		<li>
			Para informar a las marcas y programadores de los cursos, seminarios o certificaciones que haya tomado para que quede registrado el curso, seminario o certificación.
		</li>
	</ul>
	<p>
		<b>“Netec”</b>, transfiere únicamente datos personales y datos patrimoniales con personas físicas (naturales) o morales que colaboren en la prestación de los servicios para los cuales somos contratados. Los datos personales sensibles que nos sean transferidos son manejados de forma responsable y especialmente de forma confidencial.
	</p>
	<p>
		En <b>“Netec”</b>, protegemos y salvaguardamos sus datos personales para evitar daño, pérdida, destrucción, robo, extravió, alteración, así como el tratamiento no autorizado de sus datos personales. Los datos son protegidos de forma administrativa, técnica y física para evitar pérdidas, usos incorrectos o accesos no autorizados, publicación, modificación o destrucción de los datos personales que nos haya proporcionado.
	</p>
	<p>
		Para acceder, rectificar y cancelar sus datos personales, así como para oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos hayan otorgado, se pone a disposición nuestro Encargado de tratar los datos previstos en la Ley de Protección de Datos Personales, mediante las siguientes vías:
	</p>
	<p>
		Correo Electrónico:  <a href="calidad@netec.com">calidad@netec.com</a><br>
		Teléfono: (01 55) 9000 4500, Ext. 3092 o 3017                             
	</p>
 
	<p>
		A t e n t a m e n t e,
	</p>
	<p>
		<b>Centro Netec SPA</b><br>
		Domicilio: Marchant Pereira 221 2ª piso Providencia, Santiago de Chile.
	</p>
	<p>
		<b>Global Knowledge Colombia Limitada</b>
		Domicilio: Carrera 13, Bogotá - Cundinamarca, Colombia
	</p>
	<p>
		<b>Global K, SA de CV</b><br>
		Domicilio: calle de Montecito número 38 piso 9, Colonia Nápoles, Delegación Benito Juárez, C.P. 03810, en México Distrito Federal
	</p>

	<p>
		<b>Centro Netec, SA de CV</b><br>
		Domicilio: calle de Montecito número 38 piso 9, Colonia Nápoles, Delegación Benito Juárez, C.P. 03810, en México Distrito Federal
	</p>
	<p>
		<b>Centro Netec Perú SAC</b><br>
		Domicilio: calle Uno Oeste 061 Oficina 304, San Isidro, Lima 27
	</p>
	<p>
		Ciudad de México a 30 de agosto de 2017.<br>
		(Fecha de última actualización de este Aviso de Privacidad)
	</p>
    </section>
</main>