
Usted recibió este correo para restablecer su contraseña asociada a su cuenta {{ site_name }}

Por favor ingrese a la siguiente liga y seleccione una nueva contraseña:
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Si usted no solicitó este cambio, puede ignorar este correo. Aún no hemos hecho modificaciones a su cuenta.

¡Gracias por usar nuestro sitio!

**El equipo de {{ platform_name }}**
